<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.name, patient %></td>
        <td><%= link_to patient.weight, patient %></td>
        <!-- <td><%= link_to patient.dob, patient %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
