
<p>
  <strong>Doctor Name:</strong>
  <%= @doctor.name %>
</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
      </tr>
    </thead>

    <tbody>
      <% @doctor.patients.each do |patient|%>
        <tr>
          <td><%=link_to patient.name, patient %></td>
          <td><%=link_to patient.weight, patient %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
